<div class="row">
  <!-- Whole width -->
  <div class="col-sm-12">
    <span ng-hide="author.isEdit('name')">
      <h2 class="my-inline-block">{{author.name}}</h2>
      &nbsp;
      <small> <!-- Edit button -->
        <a class="my-cursor-pointer"
          ng-click="author.edit('name')">Edit</a>
      </small>
    </span>
    <span ng-show="author.isEdit('name')">
      <input type="text"
        class="form-control input-lg my-title-input"
        placeholder="Author name"
        ng-model="author.name">
      &nbsp;
      <small> <!-- Save button -->
        <a class="my-cursor-pointer"
          ng-click="author.save('name')">Save</a>
      </small>
    </span>
  </div>
</div>
<div class="row">
  <!-- Two equal columns -->
  <div class="col-sm-6">
    <!-- Author photo or image -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Image</h3>
      </div>
      <div class="panel-body">
        <img class="img-responsive center-block"
          src="http://placehold.it/200x200">
      </div>
    </div>
    <!-- Birth date -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title my-inline-block">Birth Date</h3>
        &nbsp;
        <small>
          <a class="my-cursor-pointer"
            ng-hide="author.isEdit('birthDate')"
            ng-click="author.edit('birthDate')">Edit</a>
          <a class="my-cursor-pointer"
            ng-show="author.isEdit('birthDate')"
            ng-click="author.save('birthDate')">Save</a>
        </small>
      </div>
      <div class="panel-body">
        <span ng-hide="author.isEdit('birthDate')">
          <!-- Date like 'September 3, 2010' -->
          {{author.birthDate | date: "longDate"}}
        </span>
        <span ng-show="author.isEdit('birthDate')">
          <div ng-controller="DatePickerCtrl">
            <p class="input-group">
              <input
                type="text" class="form-control"
                uib-datepicker-popup="{{format}}"
                ng-model="date" ng-required="true"
                ng-change="changeDate()"
                is-open="status.opened"
                date-disabled="disabled(date, mode)"
                show-button-bar="false" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                  ng-click="open($event)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- Gender -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title my-inline-block">Gender</h3>
        &nbsp;
        <small>
          <a class="my-cursor-pointer"
            ng-hide="author.isEdit('gender')"
            ng-click="author.edit('gender')">Edit</a>
          <a class="my-cursor-pointer"
            ng-show="author.isEdit('gender')"
            ng-click="author.save('gender')">Save</a>
        </small>
      </div>
      <div class="panel-body">
        <span ng-hide="author.isEdit('gender')">
          {{author.gender}}
        </span>
        <span ng-show="author.isEdit('gender')">
          <select class="form-control" ng-model="author.gender">
            <!-- Simple choice! -->
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </span>
      </div>
    </div>
    <!-- Genres -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Genres</h3>
      </div>
      <div class="panel-body">
        {{author.allGenres}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Manga table -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Series</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th ng-repeat="column in author.seriesColumns">
              <h4>{{column.header}}</h4>
            </th>
          </tr>
          <tr ng-repeat="manga in author.series">
            <td><a ui-sref="series-info({id: manga._id})">
              {{manga.title}}
            </a></td>
            <td>{{author.genreToString(manga.genre)}}</td>
            <td>{{manga.year}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
