<div class="row">
  <!-- Whole width -->
  <div class="col-sm-12">
    <h2>
      {{author.name}}
      &nbsp;
      <!-- Edit button -->
      <small><a class="my-cursor-pointer"
        ng-click="author.edit('name')">Edit</a>
      </small>
    </h2>
  </div>
</div>
<div class="row">
  <!-- Two equal columns -->
  <div class="col-sm-6">
    <!-- Author photo or image -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Image</h3>
      </div>
      <div class="panel-body">
        <!-- Center the image in div -->
        <img class="img-responsive center-block"
          src="http://placehold.it/200x200">
      </div>
    </div>
    <!-- Birth date -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Birth Date
          &nbsp;
          <small><a class="my-cursor-pointer"
            ng-click="author.edit('birthDate')">Edit</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <!-- Date like 'September 3, 2010' -->
        {{author.birthDate | date: "longDate"}}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- Gender -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Gender
          &nbsp;
          <small><a class="my-cursor-pointer"
            ng-click="author.edit('gender')">Edit</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        {{author.gender}}
      </div>
    </div>
    <!-- Genres -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Genres</h3>
      </div>
      <div class="panel-body">
        {{author.allGenres}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Manga table -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Mangas
          &nbsp;
          <small><a class="my-cursor-pointer"
            ng-click="author.edit('series')">Edit</a>
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th ng-repeat="name in author.seriesColumns">
              <h4>{{name}}</h4>
            </th>
          </tr>
          <tr ng-repeat="manga in author.series">
            <td><a ui-sref="series-info({id: manga._id})">{{manga.title}}</a></td>
            <td>{{author.genreToString(manga.genre)}}</td>
            <td>{{manga.year}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
