<table class="table table-striped">
  <!-- Columns headers -->
  <tr>
    <th ng-repeat="name in authors.columns">
      <h4>{{name}}</h4>
    </th>
  </tr>
  <!-- Actual table content -->
  <tr ng-repeat="author in authors.list">
    <!-- Authors name -->
    <td><a ui-sref="authors-info({id: author._id})">{{author.name}}</a></td>
    <!-- The number of series, which he wrote -->
    <td>{{author.series.length}}</td>
    <!-- Most numerours genre -->
    <td>{{author.mostNumerousGenre}}</td>
  </tr>
</table>
