<div class="row">
  <div class="col-xs-9">
    <!-- Search query -->
    <form>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon"><i class="fa fa-search"></i></div>
          <input type="text" class="form-control"
            placeholder="Search manga" ng-model="series.searchQuery">
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-3">
    <!-- Add new series to list, navigate to create window -->
    <button type="button" ng-show="series.isUserLoggedIn()"
      class="col-xs-12 btn btn-info" ui-sref="home.series-create">
      <span>Add&nbsp;</span><i class="glyphicon glyphicon-plus"></i>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped table-hover table-bordered">
      <tr> <!-- Columns headers -->
        <th ng-repeat="column in series.columns">
          <!-- Show link if column is sortable -->
          <div ng-show="column.sortable">
            <a class="my-cursor-pointer" ng-click="series.sort(column.fieldName)">
              <b>{{column.header}}</b>
              <!-- show arrows corresponding sort order -->
              <span ng-show="series.isAscending(column.fieldName)"
                class="fa fa-caret-up"></span> <!-- ascending-->
              <span ng-show="series.isDescending(column.fieldName)"
                class="fa fa-caret-down"></span> <!-- descending -->
            </a>
          </div>
          <!-- Otherwise show simple header -->
          <div ng-hide="column.sortable">
            <b>{{column.header}}</b>
          </div>
        </th>
      </tr>
      <!-- Actual table content -->
      <tr dir-paginate="manga in series.list | orderBy:series.sortType:series.sortReverse | filter:series.searchQuery | itemsPerPage:series.perPage">
        <!-- Manga title -->
        <td><a ui-sref="home.series-info({id: manga._id})">{{manga.title}}</a></td>
        <!-- Names of the manga genre -->
        <td>{{series.genreToString(manga.genre)}}</td>
        <!-- Year of writing -->
        <td>{{manga.year}}</td>
      </tr>
    </table>
    <!-- Pagination controls -->
    <dir-pagination-controls></dir-pagination-controls>
  </div>
</div>
