<div class="row">
  <!-- Whole width -->
  <div class="col-sm-12">
    <!-- If not edit, show <h2> block -->
    <span ng-hide="manga.isEdit('title')">
      <h2 class="my-inline-block">{{manga.title}}</h2>
      &nbsp; <!-- Mandatory whitespace -->
      <small> <!-- Edit button -->
        <a class="my-cursor-pointer"
          ng-click="manga.edit('title')">Edit</a>
      </small>
    </span>
    <!-- Otherwise show input element -->
    <span ng-show="manga.isEdit('title')">
      <input type="text"
        class="form-control input-lg my-manga-title-input"
        placeholder="Manga title"
        ng-model="manga.title">
      &nbsp;
      <small> <!-- Save button -->
        <a class="my-cursor-pointer"
          ng-click="manga.save('title')">Save</a>
      </small>
    </span>
  </div>
</div>
<div class="row">
  <!-- Two equal columns -->
  <div class="col-sm-6">
    <!-- Description panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title my-inline-block">Description</h3>
        &nbsp; <!-- Whitespace -->
        <small>
          <a class="my-cursor-pointer"
            ng-hide="manga.isEdit('description')"
            ng-click="manga.edit('description')">Edit</a>
          <a class="my-cursor-pointer"
            ng-show="manga.isEdit('description')"
            ng-click="manga.save('description')">Save</a>
        </small>
      </div>
      <div class="panel-body">
        <span ng-hide="manga.isEdit('description')">
          {{manga.description}}
        </span>
        <span ng-show="manga.isEdit('description')">
          <textarea class="form-control my-fixed-size" rows="7"
            ng-model="manga.description">
          </textarea>
        </span>
      </div>
    </div>
    <!-- Year of writing -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title my-inline-block">Year</h3>
        &nbsp; <!-- Whitespace -->
        <small>
          <a class="my-cursor-pointer"
            ng-hide="manga.isEdit('year')"
            ng-click="manga.edit('year')">Edit</a>
          <a class="my-cursor-pointer"
            ng-show="manga.isEdit('year')"
            ng-click="manga.save('year')">Save</a>
        </small>
      </div>
      <div class="panel-body">
        <span ng-hide="manga.isEdit('year')">
          {{manga.year}}
        </span>
        <span ng-show="manga.isEdit('year')">
          <!-- Year picker element with custom controller -->
          <div ng-controller="YearPickerCtrl">
            <!-- Based on Angular-UI Bootstrap DatePicker -->
            <p class="input-group">
              <input
                type="text" class="form-control"
                uib-datepicker-popup="{{format}}"
                ng-model="date" ng-required="true"
                ng-change="changeDate()"
                is-open="status.opened"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)"
                show-button-bar="false" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                  ng-click="open($event)"> <!-- open picker -->
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- Manga image -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Image</h3>
      </div>
      <div class="panel-body">
        <!-- Center the image in div -->
        <img class="img-responsive center-block"
          src="http://placehold.it/170x250">
      </div>
    </div>
    <!-- Series genre -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title my-inline-block">Genre</h3>
        &nbsp;
        <small>
          <a class="my-cursor-pointer"
            ng-hide="manga.isEdit('genre')"
            ng-click="manga.edit('genre')">Edit</a>
          <a class="my-cursor-pointer"
            ng-show="manga.isEdit('genre')"
            ng-click="manga.save('genre')">Save</a>
        </small>
      </div>
      <div class="panel-body">
        <!-- <span ng-hide="manga.isEdit('genre')"> -->
        <span>
          {{manga.genreString}}
        </span>
        <!-- <span ng-show="manga.isEdit('genre')"> -->
        <hr>
        <span>
          <!-- List of this manga's genres -->
          <span ng-repeat="genre in manga.genre">
            {{genre.name}}
            <!-- Remove genre from list -->
            <button type="button" class="btn btn-warning btn-xs" ng-click="">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
            <span ng-hide="$last">,&nbsp;</span>
          </span>
          <div>
            <!-- Select new genre -->
            <select class="form-control" ng-model="manga.newGenre">
              <!-- From the list of all available genres -->
              <option ng-repeat="genre in manga.allGenres" value="{{genre._id}}">
                {{genre.name}}
              </option>
            </select>
            <!-- Add new genre to manga -->
            <button type="button" class="btn btn-info" ng-click="">
              Add<i class="glyphicon glyphicon-plus"></i>
            </button>
          </div>
        </span>
      </div>
    </div>
    <!-- Link to author -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title my-inline-block">Author</h3>
        &nbsp;
        <small>
          <a class="my-cursor-pointer"
            ng-hide="manga.isEdit('author')"
            ng-click="manga.edit('author')">Edit</a>
          <a class="my-cursor-pointer"
            ng-show="manga.isEdit('author')"
            ng-click="manga.save('author')">Save</a>
        </small>
      </div>
      <div class="panel-body">
        <span ng-hide="manga.isEdit('author')">
          <a ui-sref="authors-info({id: manga.author._id})">
            {{manga.author.name}}
          </a>
        </span>
        <span ng-show="manga.isEdit('author')">
          <!-- change id of current author -->
          <select class="form-control" ng-model="manga.authorId">
            <!-- changes will be reflected after save and reload -->
            <option ng-repeat="author in manga.allAuthors" value="{{author._id}}">
              {{author.name}}
            </option>
          </select>
        </span>
      </div>
    </div>
  </div>
</div>
