<div class="row">
  <!-- Whole width -->
  <div class="col-sm-12">
    <span ng-hide="manga.isEdit('title')">
      <b>{{manga.title}}</b>
    </span>
    <span ng-show="manga.isEdit('title')">
      <!-- id is mandatory to focus() on element, should be the same as fieldName for simplicity -->
      <input id="title" type="text" ng-model="manga.title" ng-blur="manga.confirmChange('title')">
    </span>
    &nbsp;
    <!-- Edit button -->
    <small><a class="my-cursor-pointer"
      ng-click="manga.edit('title')">Edit</a>
    </small>
  </div>
</div>
<div class="row">
  <!-- Two equal columns -->
  <div class="col-sm-6">
    <!-- Description panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <b class="panel-title">Description</b>
        &nbsp;
        <small><a class="my-cursor-pointer"
          ng-click="manga.edit('description')">Edit</a>
        </small>
      </div>
      <div class="panel-body">
        <span ng-hide="manga.isEdit('description')">
          {{manga.description}}
        </span>
        <span ng-show="manga.isEdit('description')">
          <textarea id="description" rows="8" cols="40" ng-model="manga.description" ng-blur="manga.confirmChange('description')"></textarea>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <!-- Manga image -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Image
        </h3>
      </div>
      <div class="panel-body">
        <!-- Center the image in div -->
        <img class="img-responsive center-block"
          src="http://placehold.it/170x250">
      </div>
    </div>
    <!-- Series genre -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Genre
        </h3>
      </div>
      <div class="panel-body">
        {{manga.genreString}}
      </div>
    </div>
    <!-- Link to author -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Author
        </h3>
      </div>
      <div class="panel-body">
        <a ui-sref="authors-info({id: manga.author._id})">
          {{manga.author.name}}
        </a>
      </div>
    </div>
    <!-- Year of writing -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Year
        </h3>
      </div>
      <div class="panel-body">
        {{manga.year}}
      </div>
    </div>
  </div>
</div>
