<div>
  <h4>Search <b>Title</b> for</n4>&nbsp<nobr>
  <!-- Text-search in manga titles -->
  <input type="text" ng-model="series.searchQuery">&nbsp
  <button type="button" ng-click="series.goSearch()">Go</button>
</div>
<nav aria-label="Pages in series table">
  <ul class="pagination">
    <!-- Active tab on selected page -->
    <li ng-repeat="page in series.pages"
      ng-class="{'active': ($index === series.pageIndex)}">
      <!-- Change page on click -->
      <a class="my-cursor-pointer"
        ng-click="series.setCurrentPage($index)">
        {{$index}}
      </a>
    </li>
  </ul>
</nav>
<table class="table table-striped">
  <!-- Columns headers -->
  <tr>
    <th ng-repeat="column in series.columns">
      <!-- Show only if column is sortable -->
      <div ng-show="column.sortable">
        <a class="my-cursor-pointer" ng-click="series.sortType = column.fieldName; series.sortReverse = !series.sortReverse">
          <b>{{column.header}}</b>
          <span ng-show="series.sortType === column.fieldName && !series.sortReverse" class="fa fa-caret-down"></span>
          <span ng-show="series.sortType === column.fieldName && series.sortReverse" class="fa fa-caret-up"></span>
        </a>
      </div>
      <!-- Otherwise show simple header -->
      <div ng-hide="column.sortable">
        <b>{{column.header}}</b>
      </div>
    </th>
  </tr>
  <!-- Actual table content -->
  <tr ng-repeat="manga in series.currentPage | orderBy:series.sortType:series.sortReverse">
    <!-- Manga title -->
    <td><a ui-sref="series-info({id: manga._id})">{{manga.title}}</a></td>
    <!-- Names of the manga genre -->
    <td>{{series.genreToString(manga.genre)}}</td>
    <!-- Year of writing -->
    <td>{{manga.year}}</td>
  </tr>
</table>
