<nav aria-label="Pages in series table">
  <ul class="pagination">
    <!-- Active tab on selected page -->
    <li ng-repeat="page in series.pages"
      ng-class="{'active': ($index === series.currentIndex)}">
      <!-- Change page on click -->
      <a class="my-cursor-pointer"
        ng-click="series.setCurrentPage($index)">{{$index}}
      </a>
    </li>
  </ul>
</nav>
<table class="table table-striped">
  <!-- Columns headers -->
  <tr>
    <th ng-repeat="name in series.columns">
      <h4>{{name}}</h4>
    </th>
  </tr>
  <!-- Actual table content -->
  <tr ng-repeat="manga in series.currentPage">
    <!-- Manga title -->
    <td><a ui-sref="series-info({id: manga._id})">{{manga.title}}</a></td>
    <!-- Names of the manga genre -->
    <td>{{series.genreToString(manga.genre)}}</td>
    <!-- Year of writing -->
    <td>{{manga.year}}</td>
  </tr>
</table>
