/* My style */
.my-cursor-pointer {
  cursor: pointer;
}
.my-inline-block {
  display: inline-block;
}
.my-fixed-size {
  resize: none;
}
.my-title-input {
  display: inline-block;
  width: 200px;
}
.my-margin-top-30 {
  margin-top: 30px;
}
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* This parent can be any width and height */
.my-block {
  text-align: center;
  /* May want to do this if there is risk the
   * container may be narrower than the element inside
   */
  white-space: nowrap;
}
/* The ghost, nudged to maintain perfect centering */
.my-block:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
/* The element to be centered, can also be of any width and height */
.my-centered-auth {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}
